#root {
  /* FONTS */
  --font-size: 16px;
  --font--xl: clamp(2rem, -0.22727269rem + 10.181818vw, 5.5rem);
  --font--lg: clamp(1.5rem, 0.73636366rem + 3.490909vw, 2.7rem);
  --font--md: clamp(1.35rem, 0.93636366rem + 1.890909vw, 2rem);
  --font--base: clamp(1.18rem, 0.94454538rem + 1.076364vw, 1.55rem);
  --font--sm: clamp(0.75rem, 0.59090903rem + 0.727273vw, 1rem);

  /* SPACE */
  --space--lg: clamp(32px, 8.8461525px + 6.615385vw, 75px);
  --space--md: clamp(24px, 15.384617px + 2.461538vw, 40px);
  --space--sm: clamp(12px, 6.615383px + 1.538462vw, 22px);

  --nav-height: 56px;
  --padding-container: 24px;

  --color-marine-900: #1b3e39;
  --color-marine-700: #2e6962;
  --color-marine-500: #4d9c93;
  --color-marine-300: #52b6aa;
  --color-marine-100: #dff7f5;

  --color-neutral-700: #575e5c;
  --color-neutral-500: #b3bcb9;
  --color-neutral-300: #d3e0dd;
  --color-neutral-100: #e9f2f0;

  --color-theme-dark: #1a1f1e;
  --color-theme-light: #fafffe;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply font-poppins scroll-smooth bg-white text-black/80;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    @apply bg-white text-black/80;
  }
}

h1 {
  @apply text-2xl font-semibold;
}
h2 {
  @apply text-xl font-semibold;
}
h3 {
  @apply text-lg font-semibold;
}

h4 {
  @apply text-base font-semibold;
}
h5 {
  @apply text-tiny font-semibold;
}

h6 {
  @apply text-neutral-500 animate-bounce;
}
p {
  @apply text-base opacity-75;
}
span {
  @apply text-tiny;
}

input,
textarea {
  @apply outline-none filter-none;
}

/** RESET AUTO FILL TEXT INPUT DESIGN */
input:-webkit-autofill,
input:-webkit-autofill:is(:hover, :focus, :active) {
  transition: background-color 5000000s ease-in-out 0s;
  background-color: #fff;
  color: black;
}

/** Scrollbar custom style */
::-webkit-scrollbar {
  @apply w-[2px] h-[0px];
}
::-webkit-scrollbar-track {
  @apply bg-gray-300;
}
::-webkit-scrollbar-thumb {
  @apply h-6 overflow-hidden rounded-full bg-gradient-to-b from-neutral-400 via-neutral-900 to-neutral-400;
}
::-webkit-scrollbar-thumb:hover {
  @apply from-neutral-600 to-neutral-600;
}

/** Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
  display: none;
}

/** Hide scrollbar for IE, Edge and Firefox */
.container-snap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

section {
  @apply container px-md mx-auto;
}

svg {
  @apply w-4 h-4;
}

@-webkit-keyframes slidein {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slidein {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}
